@page "/project/{id:int}"
@rendermode InteractiveAuto

@using OlympusBugTracker.Client.Helpers

@inject IProjectDTOService ProjectService
@inject NavigationManager Nav



@if (project is not null)
{
    <h1>@project.Name</h1>

    <p>@((MarkupString)project.Description!)</p>

    <p>@project.StartDate - @project.EndDate</p>

    <p>@project.Priority</p>
}




@code {

    #region parameters

    [CascadingParameter]
    public Task<AuthenticationState>? AuthStateTask { get; set; }

    [Parameter]
    public int Id { get; set; }

    #endregion


    #region state

    private UserInfo? userInfo;

    private ProjectDTO? project;

    #endregion


    #region methods

    protected override async Task OnInitializedAsync()
    {
        try
        {
            userInfo = await UserInfoHelper.GetUserInfoAsync(AuthStateTask);

            project = await ProjectService.GetProjectByIdAsync(Id, userInfo!.CompanyId);
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
            throw;
        }

        if (project is null)
        {
            Nav.NavigateTo("/projects");
        }
    }

    #endregion

}
